@using Microsoft.AspNetCore.Mvc.Localization
@using Trainer.Application.Aggregates.OTPCodes.Commands.RequestPassword
@inject IViewLocalizer Localizer
@model RequestPasswordCommand;
@{
    ViewData["Title"] = @Localizer["RessetPassword"];
}

<div class="col-md-4">
    <form method="post" asp-controller="OTP" asp-action="ResetPasswordSendEmail">
        <h3>@Localizer["RessetPassword"]</h3>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Email">@Localizer["Email"]</label>
            <input asp-for="Email" class="form-control" />
            <span class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary mt-1">@Localizer["SendCode"]</button>
        </div>
    </form>
</div>